<p>rooms-list works!</p>
<h2>{{title}}</h2>
<div>

    <table>
        <tr>
            <th>index</th>
            <th>even / odd</th>
            <th>Room Number</th>
            <th>Room type</th>
            <th>Room price</th>
            <th>Amenities</th>
            <th>Checkin time</th>
            <th>Rating</th>
            <th>select room</th>
        </tr>
        <tr 
        [ngClass]="e?'even':'odd'"
        *ngFor="let room of rooms | slice:0:8; let e =even; let o = odd; let i=index">
            <td>{{i | percent}}</td>
            <td>{{e ? "even":"odd"}}</td>
            <td>{{room.roomNumber }}</td>
            <td>{{room.roomTYpe}}</td>
            <td>{{room.price | currency : 'INR'}}</td>
            <td>{{room.amenities | titlecase}}</td>
            <td>{{room.checkinTime | date :'dd/MM/yyyy'}}</td>
            <td>{{room.rating | number:'1.0-2'}}</td>
            <td>
                <button (click)="selectRoom(room)">select</button>
            </td>
        </tr>
    </table>
</div>
